.buttom{
    display: block;
    background: var(--darkGrey);
    width: 25%;
    min-width: 200px;
    height: 60px;
    border-radius: 26px;
    color: var(--white);
    border:0;
    font-size: var(--fontBig);
    margin: 20px auto;
    transition: all 0.3s;
    cursor: pointer;

  
}