 .Wrapper{
     display: flex;
     align-items: center;
     height: 100px;
     background: var(--darkGrey);
     padding: 0 20px;

 }

 .Content{
position: relative;
max-width: var(--maxWidth);
width: 100%;
height: 55px;
background: var(--medGrey) ;
margin: 0 auto;
border-radius: 40px;
color:   var(--white)
}
/*img in content*/
img {
    position: absolute;
    left: 15px;
    top: 14px;
    width: 30px;

}
